.headerbar{
    color: antiquewhite;
    height: 4em;
    background-color: #26262850;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset, rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
    width: 100%;
    display: flex;
    align-items: flex-start;
  
}

.dashboard{

    background-color: #1a1a1b10;
    height: 100%;
}