.headerbar{
    color: antiquewhite;
    height: 4em;
    background-color: #26262850;
    box-shadow: #ffffff33 0px 0px 0px 0.5px inset, #00000033 0px 0px 0px 0.5px;
}

.right-items{
    padding: 1em;
    padding-top: 1.4em;
    background-color: #14141550;
    user-select: none;
    cursor: pointer;
    
    &:hover{
        box-shadow: #ffffff33 0px 0px 0px 0.5px inset, #00000033 0px 0px 0px 0.5px;
    }
}


.left-items{
    padding: 1em;
    padding-top: 1.4em;
    background-color: #14141550;
    user-select: none;
}

.right{
    float: right;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
    gap: 0.5em;
}

.left{
    display: flex;
    justify-content: flex-start;
    float: left;
    height: 100%;
}

#logo{
    background-color: #00000000;
    background-image: url(../../assets/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    background-position: 0 0.3em;

}